### Before coding
Execute the following SQL code in your MySQL oy any other RDB.
```sql
CREATE SCHEMA IF NOT EXISTS `TESTDB` DEFAULT CHARACTER SET utf8mb4 ;

CREATE TABLE IF NOT EXISTS `TESTDB`.`Staff` (
  `ID` VARCHAR(10) NOT NULL COMMENT 'Employee ID',
  `Name` VARCHAR(45) NOT NULL COMMENT 'Employee name',
  `DeptId` VARCHAR(10) NOT NULL COMMENT 'Department ID',
  `Age` INT NULL,
  `Gender` VARCHAR(3) NULL,
  `Salary` INT NULL,
  `recordDt` DATETIME NOT NULL COMMENT 'The date and time that this information be recorded',
  PRIMARY KEY (`ID`))
DEFAULT CHARACTER SET = utf8mb4;
```

### Then we have the column
- ID, Name, DeptId, Age, Gender, Salary, recordDt

### To do:
#### 1. Try to insert the following data first, data can be found in Staff.json
#### 2. Raise 10% of the salary and update the data to DB

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Jay   | 001   | 50  |   M    | 56000  |
| 002 | Jenny | 001   | 30  |   F    | 47000  |
| 003 | Rick  | 002   | 45  |   M    | 50000  |
| 004 | David | 003   | 47  |   M    | 45000  |
| 005 | Jake  | 002   | 32  |   M    | 55000  |
| 006 | Abby  | 001   | 25  |   F    | 40000  |
| 007 | Trump | 003   | 80  |   M    | 90000  |
| 008 | Eric  | 001   | 26  |   M    | 85000  |

In [1]:

import pymysql
from pymysql.err import IntegrityError, InternalError

def insertData(host='localhost', port=3306, user='root', passwd='root', db='TESTDB', charset='utf8mb4'):
    effectedRow = -1
    
    try:
        conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
    except RuntimeError as e:
        print(e)
        return -1
    except InternalError as e:
        print(e)
        return -1

    cursor = conn.cursor()

    sql_insert = """
    INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
    VALUES ('001', 'Jay', '001', '50', 'M', '56000', '2020-04-29 21:04:52');
    """

    try:
        effectedRow = cursor.execute(sql_insert)
    except IntegrityError as e:
        sql_delete = """DELETE FROM Staff WHERE ID = '001';"""
        cursor.execute(sql_delete)
        effectedRow = cursor.execute(sql_insert)
    except:
        pass
    finally:
        conn.commit()
        cursor.close()
        conn.close()
    return effectedRow

In [2]:
insertData()

1