In [12]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\big data\pycharmprojects\eb102_python\venv\lib\site-packages (1.3.17)

In [34]:

# 建立連線
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:27DORAhero27@localhost:3306/TESTDB', echo=True)

In [35]:

# 宣告映射
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [36]:
# 描述 Table
from sqlalchemy import Column, Integer, String, Date
class Staff(Base): # 與 table 名稱相同
    __tablename__ = 'Staff'  # 若與 class 名稱不同不可省略

    # 在程式判斷 INSERT 正不正確 
    ID = Column(String(10), primary_key=True)
    Name = Column(String(45), nullable=False)
    DeptId = Column(String(10), nullable=False)
    Age = Column(Integer, default=None)
    Gender = Column(String(3), default=None)
    Salary = Column(Integer, default=None)
    RecordDt = Column(Date, nullable=False)
    
    def __repr__(self):
        return "<User(name='%s', record='%s'>"%(self.Name, self.RecordDt)

In [37]:

# 建立 session (like execute)
from sqlalchemy.orm import sessionmaker
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [38]:

# 查詢
session.query(Staff)

In [39]:

# 查詢
for r in session.query(Staff):
    print(r)

2020-05-18 10:24:55,073 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-05-18 10:24:55,074 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 10:24:55,076 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-05-18 10:24:55,077 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 10:24:55,079 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-05-18 10:24:55,080 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 10:24:55,081 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-05-18 10:24:55,081 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 10:24:55,084 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-05-18 10:24:55,084 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 10:24:55,085 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-05-18 10:24:55,086 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 10:24:55,087 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-05-18 10:24:55,087 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 10:24:55,088 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-18 10:24:55,089 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-05-18 10:24:55,090 INFO sqlalchemy.engine.base.Engine {}
<User(name='Jay', record='2020-05-16 11:41:46'>
<User(name='Jenny', record='2020-05-16 11:41:46'>
<User(name='Rick', record='2020-05-16 11:41:46'>
<User(name='David', record='2020-05-16 11:41:46'>
<User(name='Jake', record='2020-05-16 11:41:46'>
<User(name='Abby', record='2020-05-16 11:41:46'>
<User(name='Trump', record='2020-05-16 11:41:46'>
<User(name='Eric', record='2020-05-16 11:41:46'>

In [40]:

# 查詢
for r in session.query(Staff):
    print(r.ID, r.Name, r.Salary, r.Age, r.Gender)

2020-05-18 10:25:00,406 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-05-18 10:25:00,406 INFO sqlalchemy.engine.base.Engine {}
001 Jay 56000 50 M
002 Jenny 47000 30 F
003 Rick 50000 45 M
004 David 45000 47 M
005 Jake 55000 32 M
006 Abby 40000 25 F
007 Trump 90000 80 M
008 Eric 85000 26 M

In [41]:
# 加上判斷條件
for r in session.query(Staff).filter(Staff.Salary < 50000):
    print(r.ID, r.Name, r.RecordDt)

2020-05-18 10:25:05,693 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
WHERE `Staff`.`Salary` < %(Salary_1)s
2020-05-18 10:25:05,694 INFO sqlalchemy.engine.base.Engine {'Salary_1': 50000}
002 Jenny 2020-05-16 11:41:46
004 David 2020-05-16 11:41:46
006 Abby 2020-05-16 11:41:46

In [42]:
# 建立一筆資料的物件, 將 class 實例化
Staff(ID='009', Name='Allen', DeptId='001', Age=25, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')

In [43]:
# 將物件 INSERT 進 Table
user1 = Staff(ID='009', Name='Allen', DeptId='001', Age=25, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')
user2 = Staff(ID='010', Name='yellen', DeptId='001', Age=25, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')
session.add_all([user1, user2])

In [44]:
# 再查詢一下
for r in session.query(Staff):
    print(r.ID, r.Name, r.Salary)

2020-05-18 10:25:12,199 INFO sqlalchemy.engine.base.Engine INSERT INTO `Staff` (`ID`, `Name`, `DeptId`, `Age`, `Gender`, `Salary`, `RecordDt`) VALUES (%(ID)s, %(Name)s, %(DeptId)s, %(Age)s, %(Gender)s, %(Salary)s, %(RecordDt)s)
2020-05-18 10:25:12,199 INFO sqlalchemy.engine.base.Engine ({'ID': '009', 'Name': 'Allen', 'DeptId': '001', 'Age': 25, 'Gender': 'M', 'Salary': 80000, 'RecordDt': '2020-05-01 21:04:52'}, {'ID': '010', 'Name': 'yellen', 'DeptId': '001', 'Age': 25, 'Gender': 'M', 'Salary': 80000, 'RecordDt': '2020-05-01 21:04:52'})
2020-05-18 10:25:12,205 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-05-18 10:25:12,206 INFO sqlalchemy.engine.base.Engine {}
001 Jay 56000
002 Jenny 47000
003 Rick 50000
004 David 45000
005 Jake 55000
006 Abby 40000
007 Trump 90000
008 Eric 85000
009 Allen 80000
010 yellen 80000

In [45]:
# Commit 並關閉 session
session.commit()
session.close()

2020-05-18 10:25:14,275 INFO sqlalchemy.engine.base.Engine COMMIT