### Before coding
Execute the following SQL code in your MySQL oy any other RDB.
```sql
CREATE SCHEMA IF NOT EXISTS `TESTDB` DEFAULT CHARACTER SET utf8mb4 ;

CREATE TABLE IF NOT EXISTS `TESTDB`.`Staff` (
  `ID` VARCHAR(10) NOT NULL COMMENT 'Employee ID',
  `Name` VARCHAR(45) NOT NULL COMMENT 'Employee name',
  `DeptId` VARCHAR(10) NOT NULL COMMENT 'Department ID',
  `Age` INT NULL,
  `Gender` VARCHAR(3) NULL,
  `Salary` INT NULL,
  `recordDt` DATETIME NOT NULL COMMENT 'The date and time that this information be recorded',
  PRIMARY KEY (`ID`))
DEFAULT CHARACTER SET = utf8mb4;
```

### Then we have the column
- ID, Name, DeptId, Age, Gender, Salary, recordDt

### To do:
#### 1. Try to insert the following data first, data can be found in Staff.json
#### 2. Raise 10% of the salary and update the data to DB

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Jay   | 001   | 50  |   M    | 56000  |
| 002 | Jenny | 001   | 30  |   F    | 47000  |
| 003 | Rick  | 002   | 45  |   M    | 50000  |
| 004 | David | 003   | 47  |   M    | 45000  |
| 005 | Jake  | 002   | 32  |   M    | 55000  |
| 006 | Abby  | 001   | 25  |   F    | 40000  |
| 007 | Trump | 003   | 80  |   M    | 90000  |
| 008 | Eric  | 001   | 26  |   M    | 85000  |

In [1]:
# 連接資料庫
import pymysql

host = 'localhost'
port = 3306
user = 'root'
passwd = 'root'
db = 'TESTDB'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

Successfully connected!

In [2]:
import json
import time

path = 'Staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

{'001': {'ID': '001',
  'Name': 'Jay',
  'DeptId': '001',
  'Age': '50',
  'Gender': 'M',
  'Salary': '56000'},
 '002': {'ID': '002',
  'Name': 'Jenny',
  'DeptId': '001',
  'Age': '30',
  'Gender': 'F',
  'Salary': '47000'},
 '003': {'ID': '003',
  'Name': 'Rick',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'David',
  'DeptId': '003',
  'Age': '47',
  'Gender': 'M',
  'Salary': '45000'},
 '005': {'ID': '005',
  'Name': 'Jake',
  'DeptId': '002',
  'Age': '32',
  'Gender': 'M',
  'Salary': '55000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '001',
  'Age': '25',
  'Gender': 'F',
  'Salary': '40000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '003',
  'Age': '80',
  'Gender': 'M',
  'Salary': '90000'},
 '008': {'ID': '008',
  'Name': 'Eric',
  'DeptId': '001',
  'Age': '26',
  'Gender': 'M',
  'Salary': '85000'}}

In [3]:
# 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [4]:
# 整理 jsondata 成可 insert 進資料庫的樣子，格式如下
'''
[('001', 'Jay', '001', '50', 'M', '56000'),
 ('002', 'Jenny', '001', '30', 'F', '47000'),
 ('003', 'Rick', '002', '45', 'M', '50000'),
 ('004', 'David', '003', '47', 'M', '45000'),
 ('005', 'Jake', '002', '32', 'M', '55000'),
 ('006', 'Abby', '001', '25', 'F', '40000'),
 ('007', 'Trump', '003', '80', 'M', '90000'),
 ('008', 'Eric', '001', '26', 'M', '85000')]
'''
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
values

[('001', 'Jay', '001', '50', 'M', '56000', '2020-04-25 07:59:33'),
 ('002', 'Jenny', '001', '30', 'F', '47000', '2020-04-25 07:59:33'),
 ('003', 'Rick', '002', '45', 'M', '50000', '2020-04-25 07:59:33'),
 ('004', 'David', '003', '47', 'M', '45000', '2020-04-25 07:59:33'),
 ('005', 'Jake', '002', '32', 'M', '55000', '2020-04-25 07:59:33'),
 ('006', 'Abby', '001', '25', 'F', '40000', '2020-04-25 07:59:33'),
 ('007', 'Trump', '003', '80', 'M', '90000', '2020-04-25 07:59:33'),
 ('008', 'Eric', '001', '26', 'M', '85000', '2020-04-25 07:59:33')]

In [5]:
# 將 SQL 批量執行
print('新增資料筆數:', cursor.executemany(sql_insert, values))

# Commit 並檢查資料是否存入資料庫
conn.commit()

In [ ]:
sql_update = """
UPDATE TESTDB.Staff SET Salary = Salary * 1.1;
"""
print('影響資料筆數:', cursor.execute(sql_update))

In [ ]:
# Commit 並關閉連線
conn.commit()
cursor.close()
conn.close()