In [12]:
import pymysql


host = 'localhost'
port = 3306
user = 'root'
passwd = '27DORAhero27'
db = 'TESTDB'
charset = 'utf8mb4'
conn = pymysql.connect(host=host,
                       port=port,
                       user=user,
                       passwd=passwd, 
                       db=db, 
                       charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

Successfully connected!

In [2]:
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Jay', '001', 50, 'M', 56000, '2020-04-24 14:59:57');
"""

cursor.execute(sql)

1

In [3]:

# 因 pymysql 預設不會自動 commit，故要記得 commit
conn.commit()

In [7]:

# 產生時間的方式如下
import time
t = time.localtime()
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)

# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Jenny', '001', 30, 'F', 47000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [8]:
dt

'2020-05-16 11:09:45'

In [9]:
# 因 pymysql 預設不會自動 commit，故要記得 commit
conn.commit()

In [21]:
sql = 'SELECT * FROM Staff;'
cursor.execute(sql)

2

In [22]:
data = cursor.fetchall()

In [23]:
data

(('001',
  'Jay',
  '001',
  50,
  'M',
  56000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Jenny',
  '001',
  30,
  'F',
  47000,
  datetime.datetime(2020, 5, 16, 11, 9, 45)))

In [24]:
# 從資料庫將 datetime 型態資料取出後, 在 Python 中會變成 datetime 物件
# 將 datetime 物件轉為字串
data[1][6].strftime('%Y-%m-%d %H:%M:%S')

'2020-05-16 11:09:45'

In [25]:

# 關閉連線
cursor.close()
conn.close()