In [1]:
'''

Pandas 基本操作

'''
import pandas as pd

# 宣告一個DataFrame
df = pd.DataFrame(columns = ['a', 'b', 'c'])
df

Empty DataFrame
Columns: [a, b, c]
Index: []

In [2]:
# 插入一個row
df.loc[0] = [1,2,3]
df.loc[1] = [2,3,4]
df.loc[3] = [5,6,5]
df

   a  b  c
0  1  2  3
1  2  3  4
3  5  6  5

In [3]:
df['d'] = [2,2,3]
df

   a  b  c  d
0  1  2  3  2
1  2  3  4  2
3  5  6  5  3

In [4]:
df['e'] = [1,2,3,4]
df

ValueError: Length of values does not match length of index

In [5]:
df.drop(['d'], axis=1)

   a  b  c
0  1  2  3
1  2  3  4
3  5  6  5

In [6]:
df

   a  b  c  d
0  1  2  3  2
1  2  3  4  2
3  5  6  5  3

In [7]:
df = df.drop(['d'], axis=1)
df

   a  b  c
0  1  2  3
1  2  3  4
3  5  6  5

In [8]:
df.drop(3)

   a  b  c
0  1  2  3
1  2  3  4

In [9]:
df

   a  b  c
0  1  2  3
1  2  3  4
3  5  6  5

In [10]:
df = df.drop(3)
df

   a  b  c
0  1  2  3
1  2  3  4

In [11]:
df['b'][1] = 100
df

   a    b  c
0  1    2  3
1  2  100  4

In [12]:
df.loc[0] = 200
df

     a    b    c
0  200  200  200
1    2  100    4

In [13]:
df['b'] = 100
df

     a    b    c
0  200  100  200
1    2  100    4

In [14]:
df.to_csv(r'./test_pandas.csv', index=0, encoding='utf-8')

In [15]:
df2 = pd.read_csv(r'./test_pandas.csv')
df2

     a    b    c
0  200  100  200
1    2  100    4

In [16]:
new_df = pd.DataFrame(data = [[66,66,66],[77,77,77]], columns = ['a', 'b', 'c'])
df.append(new_df)

     a    b    c
0  200  100  200
1    2  100    4
0   66   66   66
1   77   77   77