In [1]:
import pymysql


host = 'localhost'
port = 3306
user = 'root'
passwd = '27DORAhero27'
db = 'TESTDB'
charset = 'utf8mb4'
conn = pymysql.connect(host=host,
                       port=port,
                       user=user,
                       passwd=passwd, 
                       db=db, 
                       charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

Successfully connected!

In [2]:
# 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [6]:
import json
import time

path = 'u05_staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

{'001': {'ID': '001',
  'Name': 'Jay',
  'DeptId': '001',
  'Age': '50',
  'Gender': 'M',
  'Salary': '56000'},
 '002': {'ID': '002',
  'Name': 'Jenny',
  'DeptId': '001',
  'Age': '30',
  'Gender': 'F',
  'Salary': '47000'},
 '003': {'ID': '003',
  'Name': 'Rick',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'David',
  'DeptId': '003',
  'Age': '47',
  'Gender': 'M',
  'Salary': '45000'},
 '005': {'ID': '005',
  'Name': 'Jake',
  'DeptId': '002',
  'Age': '32',
  'Gender': 'M',
  'Salary': '55000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '001',
  'Age': '25',
  'Gender': 'F',
  'Salary': '40000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '003',
  'Age': '80',
  'Gender': 'M',
  'Salary': '90000'},
 '008': {'ID': '008',
  'Name': 'Eric',
  'DeptId': '001',
  'Age': '26',
  'Gender': 'M',
  'Salary': '85000'}}

In [26]:
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())

data = [tuple([jsondata[dt][d] for d in jsondata[dt]]) + (t, ) for dt in jsondata]
data

[('001', 'Jay', '001', '50', 'M', '56000', '2020-05-16 12:00:30'),
 ('002', 'Jenny', '001', '30', 'F', '47000', '2020-05-16 12:00:30'),
 ('003', 'Rick', '002', '45', 'M', '50000', '2020-05-16 12:00:30'),
 ('004', 'David', '003', '47', 'M', '45000', '2020-05-16 12:00:30'),
 ('005', 'Jake', '002', '32', 'M', '55000', '2020-05-16 12:00:30'),
 ('006', 'Abby', '001', '25', 'F', '40000', '2020-05-16 12:00:30'),
 ('007', 'Trump', '003', '80', 'M', '90000', '2020-05-16 12:00:30'),
 ('008', 'Eric', '001', '26', 'M', '85000', '2020-05-16 12:00:30')]

In [13]:
cursor.executemany(sql_insert, data)

8

In [14]:
conn.commit()

In [17]:

# 關閉連線
cursor.close()
conn.close()

Error: Already closed